html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    padding: 35px;
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.firstflex {
    display: flexbox;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
}

.secondflex {
    display: flexbox;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
}

article img {
    float: left;
    border-radius: 12pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h1 {
    color: #DA0090;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
nav ul {
    list-style-type: none;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #DA0090;
    border-bottom: 1px solid #A51F10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
nav ul li {
    margin-right: 2.3rem;
    color: black;
}
.socials {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.socials li {
    margin-right: 0.3rem;
}
.bottomborder {
    border-top: 1px solid #DA0090;
    border-bottom: 1px solid #A51F10;
    width: 100%;
    height: 4px;
}

